# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Ignore dataset and output directories
Dataset/
*.pth

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore environment files
.env
# output/

pth/
*.tar.gz
mlruns/

inference/
output/
sampled_pairs/
outline.md
.bak
